@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

:root {
  --background: #09090b;
  /* Zinc 950 */
  --foreground: #ffffff;
  --border: #27272a;
  --primary: #d4af37;
  /* Cartel Golden */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
}