@import "tailwindcss";

@theme {
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

:root {
  --background: #000000;
  /* Absolute Black */
  --foreground: #ffffff;
  --border: #27272a;
  --primary: #d4af37;
  /* Cartel Golden */
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
    background-color: #000000 !important;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    @apply bg-background text-foreground;
  }

  #root {
    min-height: 100vh;
    width: 100%;
    background-color: #000000 !important;
  }
}

/* Remove setas de input number (Chrome, Safari, Edge, Opera) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove setas de input number (Firefox) */
input[type=number] {
  -moz-appearance: textfield;
}